body{
	background-color:#F3ECE7
}	
.navbar{
	padding: 30px 300px 30px 300px;
	//border-width: 30px 300px 30px 300px;
	border-
	min-width:200px;
	align-content: center;
	border-color:white;
	background-color: #C4BDAC;
	color:#aaa;
}
.navbar li{
	background-color:#E4DAC2;
	margin-left:20px;
	margin-right:20px;
	text-align:center;
	border-radius:10px;
}
li.active {
	border-radius:10px;
	background-color:#F4EEE1; !important
}

#aboutMe{
	padding-top:90px;
}
#objectiveContent{
	margin: 0px 80px 0px 80px;
}
.contentBody{
	margin: 20px 120px 120px 120px;
}
.aboutSect{
	margin-bottom:20px;
}
